.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.docx
README1.md
DS_PSgrades.xlsx
presentationOrder.R
orderS24.csv
Exams/
ProblemSets/PS1/PS1_output.txt
ProblemSets/PS3/Solutions/
ProblemSets/PS4/Solutions/
ProblemSets/PS5/grader.sh
ProblemSets/PS7/Solutions/
ProblemSets/PS8/Solutions/
ProblemSets/PS9/Solutions/
ProblemSets/PS10/Solutions/
ProblemSets/PS12/Solutions/
